* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Caprasimo,Outfit;
}
:root {
    --t-color-head:black;
    --t-color-body1:#2C2825;
    --t-color-body2:rgba(0, 0, 0, 0.6);
    --t-color-caption:#575757;
    --bg-color-button:#FFC800;
    --bg-color-line:#595959;
    --t-size-caption:14px;
    --t-size-head1:50px;
    --t-size-head2:40px;
    --t-size-head3:30px;
    --t-size-head4:20px;
}
.line ,.line-small{
    border-bottom:2px solid var(--bg-color-line);
    border-radius:2px;
}
.line-small{
    width:100%;
}
.button {
                font-weight:bold;
                display:inline-block;
                background:var(--bg-color-button);
                border-radius:4px;
                padding:12px 16px 12px 20px;
                max-width:fit-content;
                position:relative;
            }
            .button::before {
                content:'';
                width:5px;
                height:5px;
                background:black;
                border-radius:50%;
                position:absolute;
                top:50%;
                translate:0 -50%;
                left:10px;
            }
.container {
    margin:0 40px;
}
a {
    text-decoration:none;
    color:var(--t-color-head);
}
.hamburger {
    /* display:none; */
    background:green;
    height:200px;
    width:30px;
    position:relative;
    top:300px;
}
.menu {
    background:wheat;
    /* border:1px solid red; */
    width:100%;
    a {
        display:block;
        padding:15px 20px;
        border-top:1px solid var(--bg-color-line);
        border-bottom:1px solid var(--bg-color-line);
    }
}
nav {
    .nav-con{
        background:white;
        display:flex;
        align-items:center;
        justify-content: space-between;
        min-height: 80px;
        position:fixed;
        left:40px;
        right:40px;
        top:0;
        z-index:999;
    }
    .brand {
        font-family:Outfit;
        font-size:1.2rem;
        font-weight:bold;
    }
    ul {
        display:flex;
        list-style:none;
        gap:1rem;
        li {
            font-weight:bold;
            font-size:0.9rem;
        }
    }
}

header {
    padding:150px 40px 0 40px;
    .header-con {
        display:grid;
        gap:50px;
    }
    .logo {
        img {
            width:100%;
        }
    }
    .img {
        background:url('./photo/rose-pink-with-juck.jpg');
        background-repeat:no-repeat;
        background-position:center top;
        background-size:cover;
        width:100%;
        height:570px;
        border-radius:30px;
        position:relative;
        overflow:hidden;
    }
    .sticker {
        background-image:url('./photo/sticker-bg.png');
        background-size:cover;
        width:250px;
        height:150px;
        position:absolute;
        bottom:100px;
        left:2%;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        text-align:center;
        line-height:22px;
        p {
            font-weight:600;
        }
    }
}

main {
    .caption {
        color:var(--t-color-caption);
    }
    .title {
        color:var(--t-colorhead);
        font-size:var(--t-size-head1);
        font-weight:bold;
        margin:1rem 0;
    }
    .main-con {
        text-align:center;
        .who {
            display:grid;
            place-items: center;
            padding:120px 175px;
            gap:40px;
        }
        .carousel {
            padding:0 0px 75px 0px;
            .group {
                display:flex;
                gap:20px;
                overflow-x:auto;
                scrollbar-width:none;
                mask-image: linear-gradient(to right,transparent, black 10%, black 90%, transparent);
                -webkit-mask-image:linear-gradient(to right,transparent,black 10%,black 90%,transparent);
                img {
                display:block;
                flex:0 0 300px;
                max-width:300px;
                max-height:300px;
                width:100%;
                object-fit:cover;
                border-radius:30px;
                height:auto;
                box-shadow:0 5px 8px rgba(0, 0, 0, 0.2);
                }
            }
        }
        .what-we-do {
            .title {
                margin:0;
                display:grid;
                gap:40px;
                h2 {
                    font-size:var(--t-size-head1);
                }
                p {
                    font-size:var(--t-size-caption);
                    font-weight:100;
                }
            }
            ol {
                padding:100px 40px;
                li {
                    display:grid;
                    width:100%;
                    min-width:0;
                    /* overflow:hidden; */
                    gap:80px;
                    place-items:center;
                    margin-top:40px;
                    .number {
                        font-size:var(--t-size-head1);
                        font-weight:bold;
                    }
                    img {
                        max-width:170px;
                        width:100%;
                        height:auto;
                        object-fit:cover;
                        border-radius:30%;
                    }
                    .text {
                        display:grid;
                        gap:30px;
                        p {
                            word-break:break-all;
                        }
                    }
                    .text p:first-child {
                        font-size:var(--t-size-head1);
                        font-weight:bold;
                    }
                    .text p:last-child {
                        font-size:var(--t-size-caption);
                    }
                }
            }
            ol li:first-child {
                margin:0;
            }
        }
        figure {
            img {
                display:block;
                width:100%;
                border-radius:30px;
                object-fit:cover;
                aspect-ratio:16/9;
            }
        }
        .work-with-us {
            display:grid;
            gap:40px;
            padding:150px;
            place-items:center;
            .content {
                display:grid;
                gap:20px;
                p {
                    font-size:var(--t-size-caption);
                    color:var(--t-color-caption);
                    font-weight:500;
                }
                h2 {
                    font-size:var(--t-size-head1);
                    font-weight:bold;
                }
            }
        }
    }
}

.img-sec {
    padding:40px;
    .bg {
        background-image:linear-gradient(to top,rgba(0, 0, 0, 0.507),rgba(0,0,0,0.2),transparent),url('./photo/flowerss.jpg');
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        border-radius:30px;
        aspect-ratio:16/9;
        position:relative;
        .section-content {
            color:white;
            display:grid;
            gap:40px;
            position:absolute;
            bottom:5%;
            left:50%;
            translate:-50%;
            width:90%;
            h2 {
                font-size:var(--t-size-head1);
                text-align:center;
                font-weight:bold;
            }
            .info {
                display:flex;
                justify-content:space-between;
                a {
                    color:currentColor;
                }
            }
        }
    }
}
footer {
    padding:60px 0;
    background:#333;
    color:white;
    text-align:center;
        .footer-con {
            display:flex;
            justify-content:space-between;
            align-items:center;
            height:60px;
            padding:0 50px;
            .logo {
                a {
                    color:currentColor;
                    font-size:var(--t-size-head2);
                }
            }
            .contact {
                display:flex;
                align-items:center;
                justify-content:center;
                gap:15px;
                a {
                    flex-wrap:wrap;
                    border-radius:50px;
                    width:50px;
                    height:50px;
                    place-items:center;
                    display:grid;
                    svg {
                        width:30px;
                        height:30px;
                    }
                }
                a:hover {
                    /* background:white; */
                    background:var(--contact-color);
                }
            }
        }
        .write {
            color:rgb(242, 237, 228);
            margin-top:50px;
            text-align:center;
            font-size:24px;
        }
}
@media (max-width:1279px) {
main {
        .main-con {
            .who {
                padding:120px;
                .title {
                    font-size:var(--t-size-head2);
                }
            }
            .what-we-do {
                /* padding:; */
                .title h2 {
                    font-size:var(--t-size-head2);
                }
                ol {
                    padding:80px 40px;
                    li {
                        .text p:first-child {
                            font-size:var(--t-size-head2);
                        }
                    }
                }
            }
            .work-with-us {
                padding: 150px 120px;
                .content h2{
                    font-size:var(--t-size-head2);
                }
            }
        }
    }
}
@media (max-width:799px) {
    nav {
        .nav-con {
            ul {
                display:none;
            }
            .hambuger {
                display:block;
            }
        }
    }
    main {
        .main-con {
            .who {
                padding:120px 40px;
                .title {
                    font-size:var(--t-size-head3);
                }
            }
            .what-we-do {
                padding:0  0px 80px 0px;
                .title h2 {
                    font-size:var(--t-size-head3);
                }
                ol {
                    padding:50px 20px;
                    li {
                        .text p:first-child {
                            font-size:var(--t-size-head3);
                        }
                    }
                }
            }
            .work-with-us {
                padding:80px 40px;
                .content h2{
                    font-size:var(--t-size-head3);
                }
            }
        }
    }
    footer {
        text-align: center;
        .footer-con {
            display:block;
            padding:0;
        }
    }
}